/* GENERAL */
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
}

header, footer {
  font-size: 0.9rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 50px;
}

p { 
  line-height: 30px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}


/* COMPONENTS */

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  border-style: solid;
  border-width: 1px;
  border-radius: 40px;
}

.small-button {
  padding: 10px;
}

.big-button {
  padding: 20px;
}


/* HEADER */

header {
  display: flex;
  align-items:center;
  height: 80px;
  background-color: #3061E0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .menu ul {
  display: flex;
}

header .menu li {
  padding: 0 20px;
}

header .menu a {
  color: #ffffff;
}

header .button {
  border-color: #ffffff; 
  background-color: #ffffff;
}

header .button a {
  color: #000000;
}


/* JUMBOTRON */

.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 520px; 
  background-image: url("../img/jumbo.png");
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
}

.hero {
  max-width: 800px;
  color: #ffffff;
  text-align: center; 
  padding: 15px; 
}

.hero .button-container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.hero .button-container .button-1 {
  border-color: #ffffff; 
  background-color: #ffffff;
  margin-right: 30px;
}

.button-1 a {
  color: #000000;
}

.hero .button-container .button-2 {
  border-color: #000000; 
  background-color: #000000;
}

.button-2 a {
  color: #ffffff;
}


/* MAIN */

main h2 {
 font-size: 2.5rem; 
 margin-bottom: 25px;
}

main h3 {
  font-size: 2rem;
  margin-bottom: 30px;
}

main img {
  width: 60%;
  min-width: 600px;
}

section.bg-grey {
  background-color: #F6F6F6;
}

section .container {
  display: flex;
  justify-content: space-between; 
  color: #23272A;
}

section .container .text {
  width: 30%;
  min-width: 300px;
  padding: 35px 10px;
}

section.section-bottom .container {
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
align-content: center;
text-align: center;
padding-bottom: 100px;
}

.section-bottom .box-text {
  max-width: 1000px;
}

.section-bottom .big-image {
  width: 1100px;
}

.section-bottom .cta .button {
  display: inline-block;
  border-color: #8EA1E1; 
  background-color: #8EA1E1;
}

.section-bottom .cta .button a {
  color: #ffffff;
}


/* FOOTER */

footer {
  background-color: #23272A;
  height: 600px;
  padding: 90px 0;
}

.footer-top {
  display: flex;
  border-bottom: 1px solid #424E71;
  
  /* DEBUG */
  min-height: 300px;
  background-color: chartreuse;
}

.footer-top .col-social {
  width: calc(100% / 3);

  /* DEBUG */
  min-height: 200px;
  background-color: darkgreen;
}

.footer-top .col-menu {
  width: calc(100% / 6);

  /* DEBUG */
  min-height: 200px;
  background-color: deeppink;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 0 80px;
}

.footer-bottom .button {
  border-color: #8EA1E1; 
  background-color: #8EA1E1;
}

.footer-bottom .button a {
  color: #ffffff;
}